<div class="comments">
  <div class="banner">Comments</div>
  {{#each this}}
    <section class="comment">
      <div class="comment-by">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div>
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>