<section>
  

  <form class="new-post-form">
    <div class="content-wrapper"><h2 class="title">Create New Post</h2>
    <div>
      <label for="post-title">Title</label><br/>
      <input type="text" name="post-title" id="post-title" />
    </div>
    <div>
      <label for="post-content">Text</label><br/>
      <textarea id="post-content" name="post-content"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>