<form action="" class="signup-form">
  <div class="content-wrapper">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username-signup" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">Email</label>
      <input type="text" name="email-signup" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password</label>
      <input type="password" name="password-signup" id="password-signup" />
    </div>
    <div><button type="submit">Signup!</button></div>
    <a href="/login">Already have an account? Login instead!</a>
  </div>
</form>

<script src="/javascript/signup.js"></script>